html {
    --button-gap: 5px;
    font-family: 'Quicksand', 'Roboto', sans-serif;
}


.container {
    background-color: navy;
   max-width: 500px;
    min-height: 700px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 12px rgb(0 0 0 / 50%);
    background: #212121;
}

.screen {
    background-color: lightgray;
    min-height: 100px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    box-shadow: inset 2px 3px 5px 0px rgb(0 0 0 / 70%);
}

.screen div {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.top-screen {
    font-size: 30px;
}

.bottom-screen {
    font-size: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: stretch;
    gap: var(--button-gap);
    margin: 10px;
   
}

.buttons div{
    display: flex;
    justify-content:space-evenly;
    flex:1;
    gap: var(--button-gap);
    
}

.buttons button {
    flex: 1;
    font-size: 35px;
    border-radius: 25%;
    color: #DFDFDF;
    box-shadow: 4px 5px 5px 0px rgb(0 0 0 / 50%);
    background: #616161;
    border: 0px solid transparent;
}

.buttons button:hover {
    background: #bdbdbd;
    color: #212121;
    transform: translateY(-0.2rem);
}


.buttons .clear:hover, .buttons .backspace:hover {
    background: lightcoral;

}


.buttons .operator:hover, .buttons .decimal:hover, .buttons .negative:hover {
    background: lightskyblue;

}



.buttons .equals:hover {
    background: limegreen;

}